<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <img src="{{ url_for('video_feed') }}">
  </body>
  <form action="/start" method="post">
    <button name="startBtn" type="submit">Start maqueen</button>
  </form>
  <form action="/stop" method="post">
    <button name="stopBtn" type="submit">Stop and save</button>
  </form>
  <form action="/terminate" method="post">
    <button name="terminateBtn" type="submit">Terminate script</button>
  </form>
</html>